.nav
  font-family: $headings
  ul
    margin: 0
  li
    list-style-type: none
    padding: 0.9rem 0
    font-size: (35 / $base-font-size) + rem
    text-transform: uppercase
    +for-tablet-portrait-up
      display: inline-block
      margin: 0
  a
    text-decoration: none
    color: $tertiary
    // letter-spacing: 0.05rem
  +for-tablet-portrait-up
    ul
      line-height: 1
    li
      text-align: left
      padding: 0
      line-height: 1
    a
      color: $primary
      font-size: 1.2rem
      &::after
        content: " | "
        padding: 0 0.25rem
    li:last-of-type a::after
      content: ""
      padding: 0
  +for-tablet-landscape-up
    a
      font-size: 1.3rem
  +for-desktop-up
    a
      font-size: 1.5rem
      letter-spacing: 0.05rem
