.page__title
  text-transform: uppercase
  color: $secondary
  text-align: center
  margin: 2rem auto 3rem
  &--fancy
    br
      display: none
      +for-desktop-up
        display: block
    span
      color: $primary

.page__content
  background: url('/assets/images/bg.svg')
  padding-top: $background-grid-size * 3
  padding-bottom: $background-grid-size * 5
