.box
  background-color: $tertiary
  padding: 0 1rem 2rem
  h2
    transform: rotate(-2deg)
    display: inline-block
    padding: 1.2rem 1.5rem
    margin: -1rem 15% 0 0
    border-width: 1px
    border-style: solid
  h2 + *
    padding-top: 1rem

  +for-tablet-landscape-up
    margin-left: -2rem
    margin-right: 0

  &--white
    border: 1px solid $primary
    h2
      background-color: $primary
      color: $tertiary
      border-color: $secondary
  &--red
    background-color: $primary
    color: $tertiary
    h2
      background-color: $secondary
      color: $tertiary
      border-color: $secondary
    a
      color: $tertiary
  &--black
    background-color: $secondary
    color: $tertiary
    h2
      background-color: $tertiary
      color: $secondary
      border-color: $secondary
    a
      color: $tertiary
