a.btn, .btn a
  display: block
  font-weight: bold
  text-decoration: none
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  &::after
    content: " >"
  &:hover
    text-decoration: underline
