---
layout: default
---

<div class="contact">
  {% include box.html colour="white" %}
  <h2>Resistance Lab is on permanent hiatus</h2>
  <p class="bigger">
    Resistance Lab last met in 2022 and is unlikely to meet again.
  </p>
  <p class="bigger">
    The spiritual successor is the
    <a href="https://gfsc.community/">Geeks for Social Change Community</a>. You
    can sign up to their email list below.
  </p>
  <p class="bigger">
    You can also follow individual groups who were part of Resistance Lab via
    their links in the footer.
  </p>
  <p class="bigger">
    Thanks to everyone who supported us and thanks for the memories!
  </p>
  <div style="min-height: 58px; max-width: 440px; margin: 0 auto; width: 100%">
    <script
      src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js"
      data-label-1="Resistance Lab"
      data-button-color="#EA5B0D"
      data-button-text-color="#FFFFFF"
      data-site="https://gfsc.community/"
      data-locale="en"
      async
    ></script>
  </div>
  {% include endbox.html %} {% include box.html colour="white" %}
  <h2>Contact us</h2>
  <p class="bigger">
    For any questions about the history of Resistance Lab, or to get in touch
    about a possible future, you can email
    <a href="mailto:info@resistancelab.network">info@resistancelab.network</a>.
  </p>
  {% include endbox.html %}
</div>
