<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@450&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    {% include meta.html %}

    {% include analytics.html %}
</head>
<body>
  <header class="header">
    <div class="pad">
      <div class="header__inner" id="js-nav">
        <h2 class="header__title">
          <a href="/">
            <div class="header__h2">{{ site.site_name }}</div>
            <div class="header__logo" role="presentation">
              {% include logo.html %}
            </div>
          </a>
          <button class="header__toggle nav__toggle" id="js-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23">
              <g transform="translate(-364 -126)">
                <rect width="25" height="5" transform="translate(364 126)" />
                <rect width="25" height="6" transform="translate(364 134)" />
                <rect width="25" height="6" transform="translate(364 143)" />
              </g>
            </svg>
          </button>
        </h2>
        <nav class="header__nav nav">
          {% include navigation.html %}
        </nav>
      </div>
    </div>
  </header>

  <main class="main">
    <article class="page page--{{ page.layout }}">
      <header>
        {% if page.title_fancy %}
          <h1 class="page__title  page__title--fancy pad">{{ page.title_fancy }}</h1>
        {% else %}
          <h1 class="page__title pad">{{ page.title }}</h1>
        {% endif %}
      </header>
      <div class="page__content">
        <div class="pad">
          {{ content }}
        </div>
      </div>
    </article>
  </main>

  <footer class="footer">
    <div class="pad">
      <div class="columns">
        <div class="column">
          <h2>Our Members</h2>
          <ul class="members">
            {% for member in site.data.members %}
              <li class="member">
                <a href="{{ member.url }}" class="member__link">
                  <div class="member__name">{{ member.name }}</div>
                  {% if member.logo %}
                    <img src="/assets/images/logos/{{ member.logo }}" alt="{{ member.name }}'s logo" class="member__image">
                  {% else %}
                    <img src="https://placedog.net/500/500?random&q={{forloop.index}}" alt="{{ member.name }}'s logo" class="member__image">
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="column">
          <h2>Connect With Us</h2>
          <ul class="social">
            <li>
              <a href="https://twitter.com/ResLabMcr">
                {% include logo_twitter.html %}
                ResLabMcr
              </a>
            </li>
            <li>
              <a href="https://instagram.com/ResLabMcr">
                {% include logo_insta.html %}
                ResLabMcr
              </a>
            </li>
            <li>
              <a href="https://github.com/Resistance-Lab">
                {% include logo_github.html %}
                Resistance-Lab
              </a>
            </li>
            <li>
              <a href="https://tinyletter.com/ResistanceLab">
                {% include logo_tinyletter.html %}
                ResistanceLab
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="footer__copyright">&copy; Resistance Lab 2020. All rights reserved.</p>
    </div>
  </footer>

  <script src="/assets/js/main.js"></script>
</body>
</html>
