$headings: Oswald, sans-serif
$body: Roboto, sans-serif
$articles: Roboto Slab, serif
$base-font-size: 18

html
  font-size: $base-font-size + px

body
  font-family: $body
  background-color: $tertiary
  color: $copy
  font-weight: 400
  line-height: 1.444444
  +for-tablet-portrait-up
    font-size: 1.22222rem
    line-height: 1.454545

h1, h2, h3, h4, h5, h6
  font-family: $headings
  font-weight: 450

h1
  font-size: 1.55556rem
  line-height: 1
  +for-tablet-landscape-up
    font-size: 2.222222rem
  +for-desktop-up
    font-size: 3.333333rem

h2, .h2
  font-size: 1.66667rem
  line-height: 1.2
  font-family: $body
  margin-top: 0.25em
  +for-tablet-portrait-up
    font-size: 1.944444rem
    line-height: 1.05
  +for-tablet-landscape-up
    font-size: 2.222222rem
  +for-desktop-up
    font-size: 2.5rem

h1, h2, h3, h4
  color: $primary
  a
    color: $primary

h3
  margin-bottom: 1rem

a
  text-decoration-color: $primary
  color: $copy
  &:hover
    color: $primary

p
  margin: 1.4444rem 0
