$headings: Oswald, sans-serif
$body: Roboto, sans-serif
$articles: Roboto Slab, serif
$base-font-size: 18

html
  font-size: $base-font-size + px

body
  font-family: $body
  background-color: $tertiary
  color: $copy
  font-weight: 400
  line-height: 1.65

h1, h2, h3, h4, h5, h6
  font-family: $headings
  font-weight: 450

h1
  // 38
  font-size: 1.9rem
  line-height: 1.44
  @media (min-width: 360px)
    font-size: 2.1rem
    line-height: 1.3
  +for-desktop-up
    // 45
    font-size: 2.5rem
    line-height: 1.22222

h2
  text-transform: uppercase
  font-size: 1.94rem
  line-height: 1.14

h1, h2
  color: $primary
  a
    color: $primary

h3
  font-size: 1.3888rem
  text-transform: uppercase

h4
  font-size: 1.11111rem

a
  text-decoration-color: $primary
  color: $copy
  &:hover
    color: $primary

p
  margin: 0.75rem 0

.bigger
  font-size: 1.25em

ol
  list-style-type: lower-alpha
  ol
    list-style-type: lower-roman
